<div class="container-fluid">
  <div class="create-post-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <mat-card>
          <mat-card-title>Create Post</mat-card-title>
          <mat-card-subtitle>Create a discussion about your issue</mat-card-subtitle>
          <mat-card-content>
            <div class="form-container">
              <!--<mat-form-field>-->
                <!--<mat-select placeholder="Organization">-->
                  <!--<mat-option>-->

                  <!--</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
              <!--<mat-form-field>-->
                <!--<mat-select placeholder="Repository">-->
                  <!--<mat-option >-->
                    <!---->
                  <!--</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
              <mat-form-field>
                <input matInput placeholder="Title">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput placeholder="Description"></textarea>
              </mat-form-field>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button>Create</button>
            <button mat-button>Clear</button>
          </mat-card-actions>

        </mat-card>
      </div>
    </div>
  </div>
</div>
