.create-post-container {
  margin-top: 10vh;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.form-container > * {
  width: 100%;
}

.createPostForm{
    background-color: #0034e0;
}

.box{
    display: flex;
}
