.header {
    margin : 2%;
}

.login-btn {
    font-family: Roboto;
    position: fixed;
    top: 2%;
    right: 2%;
    background-color:#5b5e71c9;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}
#toolbar {
    background-color: rgb(85, 70, 181);
}
.responsive {
  text-align: center;
  padding: 20px;
  margin-top: 10%
}
img{
  display: inline;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
    img {
        display: inline;
        padding: 10px;
        width: 100%;
        height: auto;
    }
}
.body {
    color: white;
    background-color: #111111;
    position: absolute;
    width: 100%;
    height: 100%;
}
/*
#landing-banner {
    color: white;
    background-image: url('../../../assets/images/stacklelogo.png');
    position: absolute;
    width: 100%;
    height: 100%;
}
*/
