body{
	background-color: #ECEFF1;
}
#orgmenu{
	background-color: white;
	height: 100%;
	width: 25%;

}

#newsfeed{
	background-color: white;
	height: 100%;
	width: 50%;

}

#notification{
	background-color: white;
	height: 100%;
	width: 25%;
}