<div class="container" id="landing">
	<div layout="row">
		<div flex id="orgmenu" layout-margin layout-padding>
			<div layout="column">
				<div flex>
					<md-input-container>
					  <label>Search Organization</label>
					  <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
					  <input type="text" ng-model="organization">
					</md-input-container>
				</div>
				<div flex>Your organizations</div>
			</div>
		</div>
		<div flex class="container" id="newsfeed" layout-margin layout-padding>Feed</div>
		<div flex class="container" id="notification" layout-margin layout-padding>Notifications</div>
	</div>	
</div>
