.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  #home-body{
    padding: 5px;
    height: 90vh;
  }

  #home-nav{
    display: list-item;
    vertical-align: middle;
    background-color: #3F51B5;
    color: white;
  }

  #sidebar{
    background-color: #ECEFF1;
    height: inherit;
  }