<div class="container-fluid">
  <div class="row" id="home-nav">
    <div class="col-md-4">
      <h2 class="mat-h2">Stackle - By Opensource for Opensource</h2>
    </div>
    <div class="col col-md-5">
    </div>
    <div class="col col-md-1">
      <h3 class="mat-h3"><a routerLink="/commonFeed">Home</a></h3>
    </div>
    <div class="col col-md-1 nav-text">
      <h3 class="mat-h3"><a routerLink="/profile">Profile</a></h3>
    </div>
    <div class="col col-md-1 nav-text">
      <h3 class="mat-h3">Logout</h3>
    </div>
  </div>
  <div class="row" id="home-body">
    <div class="col-md-2" id="sidebar">
      <h4 class="mat-h4">Search for Stacks</h4>
      <div class="example-container">
        <form>
          <mat-form-field>
            <input matInput placeholder="Stack Name">
          </mat-form-field>
          <button mat-button color="primary" type="submit">Search</button>
        </form>
      </div>
      <hr>
      <div class="mat-typography">
        <h4 class="mat-h4">Your Stacks</h4>
        <mat-list>
          <mat-list-item class="mat-menu-item">Score Lab</mat-list-item>
          <mat-list-item class="mat-menu-item">Google</mat-list-item>
          <mat-list-item class="mat-menu-item">Fossasia</mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-md-10">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    Developed by SCoRE
  </div>
</div>