.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  #home-body{
    padding: 5px;
    height: 90vh;
  }

  #navbar{
    display: inline;
    vertical-align: middle
  }