.example-container {
    display: flex;
    flex-direction: column;
  }

  .example-container > * {
    width: 100%;
  }

  #home-body{
    height: 90vh;
  }

  #home-nav{
    display: list-item;
    vertical-align: middle;
    background-color: #212121;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  #home-nav img {
    width: 20px;
    margin-right: 10px;
  }

  .nav-items {
    float: right;
  }

  #home-nav .col-md-2 {
    padding: 0;
  }
  #home-nav h3 {
    padding: 10px 20px 10px 20px;
    margin-bottom: 0;
    text-align: center;
    display: inline-block;
  }

  #home-nav h3:hover {
    background-color: #414f57;
    color: #ffffff;
  }

  #home-nav a {
    text-decoration: none;
    color: #ececec;
  }

  #sidebar{
    background-color: #ECEFF1;
    height: 100vh;
    position: fixed;
    left: 0;
    padding: 20px 0;
    text-align: center;
    z-index: 20;
  }

  #sidebar h2 {
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
  }

  #sidebar mat-form-field {
    width: 80%;
  }

  #sidebar button {
    width: 80%;
  }

  #sidebar hr {
    color: #d0d0d0;
    border: 0.5px solid;
  }

  #sidebar mat-list-item img {
    width: 20px;
    margin-right: 10px;
  }

.view-container {
  /*float: right;*/
}
