<div class="container-fluid">
  <div class="row" id="home-nav">
    <div class="col col-md-2  col-md-offset-10 nav-text">
      <div class="nav-items">
        <h3 class="mat-h3">
          <a routerLink="profile">
            <img class="img-circle" src="../../assets/images/user_avatar.png">
            Profile
          </a>
        </h3>
        <h3 class="mat-h3">
          <a (click)="auth.logout()">
            Logout
          </a>
        </h3>
      </div>
    </div>
  </div>
  <div class="row" id="home-body">
    <div id="sidebar">
      <h2 class="mat-h2">Stackle</h2>
      <h5 class="mat-h5">By Opensource for Opensource</h5>
      <hr>
      <div class="example-container">
        <form>
          <mat-form-field>
            <input matInput placeholder="Stack Name">
          </mat-form-field>
          <button mat-button color="primary" type="submit">
            <mat-icon matListIcon>find_in_page</mat-icon>
            Search
          </button>
        </form>
      </div>
      <hr>
      <div class="mat-typography">
        <mat-list>
          <mat-list-item class="mat-menu-item" (click)="navigateToCommonFeed()">
            <mat-icon matListIcon>home</mat-icon>
            Home
          </mat-list-item>
          <mat-list-item class="mat-menu-item" (click)="navigateToCreatePost()">
            <mat-icon matListIcon>note_add</mat-icon>
            Discuss a issue
          </mat-list-item>
          <mat-list-item class="mat-menu-item" (click)="navigateToCreateStack()">
            <mat-icon matListIcon>note_add</mat-icon>
            Create new stack
          </mat-list-item>
          <h4 mat-subheader="">Your Stacks</h4>
          <mat-list-item class="mat-menu-item">
            <mat-icon mat-list-icon>
              <img class="img-circle" src="../../assets/images/user_avatar.png">
            </mat-icon>
            Score Lab
          </mat-list-item>
          <mat-list-item class="mat-menu-item">
            <mat-icon mat-list-icon>
              <img class="img-circle" src="../../assets/images/user_avatar.png">
            </mat-icon>
            Google
          </mat-list-item>
          <mat-list-item class="mat-menu-item">
            <mat-icon mat-list-icon>
              <img class="img-circle" src="../../assets/images/user_avatar.png">
            </mat-icon>
            Fossasia
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-md-10 col-md-offset-2 view-container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    Developed by SCoRE
  </div>
</div>
