.demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    /* background: url('../assets/demos/welcome_card.jpg') center / cover; */
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }