<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Stackle - By opensource for opensource</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" routerLink="feed">Home</a>
        <a class="mdl-navigation__link" routerLink="profile">Profile</a>
        <a class="mdl-navigation__link" >Logout</a>
        <!-- <a class="mdl-navigation__link" href="">Link</a> -->
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <!-- <span class="mdl-layout-title">Title</span> -->
    <nav class="mdl-navigation">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="sample1">
        <label class="mdl-textfield__label" for="sample1">Text...</label>
      </div>
      <a class="mdl-navigation__link" href="">SCoRelab</a>
      <a class="mdl-navigation__link" href="">Maturify</a>
      <a class="mdl-navigation__link" href="">CompSoc</a>
      <!-- <a class="mdl-navigation__link" href="">Link</a> -->
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>