<div id="landing">
  <div layout="row">
    <div flex="25" id="orgmenu" layout-margin layout-padding>
      <div layout="column">
        <div flex>
          <md-input-container>
            <label>Search Organization</label>
            <!-- <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon> -->
            <input type="text" ng-model="orgname" ng-mouseup="result = searchOrg(orgname)">
          </md-input-container>
          <md-content>
            {{result}}
          </md-content>
        </div>
        <div flex>
          <md-content>
            {{org}}
          </md-content>
        </div>
        <div flex>
          <label id="orghd">Your organizations</label>
          <div class="container">
            <md-list-item class="md-1-line" ng-repeat="stack in sub_stacks" ng-click="null">
              {{stack}}
          </md-list-item>
          </div>
        </div>
      </div>
    </div>
    <div flex="60" id="newsfeed" layout-margin layout-padding ng-hide="!searched">
      <h2>{{org_name}}</h2><span><img src="{{logo_url}}" id="org_logo"></span>
      <p>{{description}}</p>
      <h4>Number of Repositories : {{num_repos}}</h4>
      <a href="{{repo_url}}">Click here for repos</a>

      <md-button class="md-primary md-raised">Create Post</md-button>
      <md-button class="md-primary md-raised" (click)="">Subscribe</md-button>
    </div>
    <div flex="60" id="newsfeed" layout-margin layout-padding ng-hide="searched">
      <md-subheader class="md-primary">Your Feed</md-subheader>
      <div ng-repeat="post in posts">
        <h4>{{post.title}}</h4> 
        <p><span class="md-whiteframe-1dp tagslike">{{post.org_name}}</span>
          <span class="md-whiteframe-1dp tagslike">{{post.repository}}</span><p>
        <md-content>
          <p>{{post.description}}</p>
        </md-content>
        <md-chips>
          <md-chip-template class="tag_chips">{{post.org_name}}</md-chip-template>
        </md-chips>
        <p class="poster"><span>Posted by {{post.user}} on {{post.date}} | </span>
        {{post.comments.length}} Comments</p>
      </div>

    </div>
    <div flex="15" id="notification" layout-margin layout-padding>
    </div>

  </div>
</div>