<md-content>
  <div id="profile">
    <div layout="row">
      <div flex="20"></div>
      <div flex="60">
        <md-card>
          <div layout="column" id="profile_card">
            <div flex>
              <img id="profile_pic" src="{{profile.picture}}">
            </div>
            <div flex>
              <h4 class="md-headline">{{profile.name}}</h4>
            </div>
            <div flex>
              <h5 class="md-subhead">Username : {{profile.nickname}}</h5>
            </div>
            <div flex>
              <h5 class="md-subhead">GitHub URL : <a href="{{profile.html_url}}">{{profile.html_url}}</a></h5>
            </div>
            <div flex>
              <h5 class="md-subhead">E mail : {{profile.plan.email}}}</h5>
            </div>
            <div flex>
              <h5 class="md-subhead">Total Private Repos : {{profile.total_private_repos}}</h5>
            </div>
            <div flex>
              <h5 class="md-subhead">Total Public Repos : {{profile.public_repos}}</h5>
            </div>
          </div>
        </md-card>
      </div>
      <div flex="20"></div>
    </div>
  </div>
</md-content>

