<div class="container" id="profile">
  <div layout="column">
    <div></div>
    <div layout=row>
      <div flex><label>Username</label></div>
      <div flex>psn.misska</div>
    </div>
    <div layout=row>
      <div flex><label>Email</label></div>
      <div flex>psn.missaka@gmail.com</div>
    </div>
    <div layout=row>
      <div flex><label>GitHub URL</label></div>
      <div flex>https://github.com/psnmissaka</div>
    </div>
    <div layout=row>
      <div flex><label>Organizations</label></div>
      <div flex>SCoRe, FOSSAsia</div>
    </div>
    <div layout=row>
      <div flex><label>Blog</label></div>
      <div flex>https://github.com/psnmissaka</div>
    </div>
    <div layout=row>
      <div flex><label>Location</label></div>
      <div flex>Colombo, Sri Lanka</div>
    </div>
    <div layout=row>
      <div flex><label>Public Repos</label></div>
      <div flex>7</div>
    </div>
  </div>
</div>
