.profile-container {
  margin-top: 10vh;
}

.profile-container mat-card {
  padding: 60px 20px 40px 20px !important;
}

.profile-container img {
  border: 3px solid #021a40;
  border-radius: 50%;
}

.profile-container mat-card-title{
  margin: 30px 0 0 0;
  font-size: 30px;
}

.stat-table {
  padding-top: 20px;
  border-top: 1px solid #d0d0d0;
}
.stat-table td{
  border: none !important;
}

.stat-table .stat-title {
  font-weight: 500;
  padding-left: 20px;
}
