<div class="container">

  <div class="profile-container">

    <mat-card>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <img class="img-thumbnail" src="../../../assets/images/user_avatar.png" width="150px">
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <h3>Demo User</h3>
          <p>demo@user.com</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
          <button mat-button>Edit Profile</button>
        </div>
      </div>

      <!--Statistics-->
      <div class="row">
        <div class="col-md-2 col-md-offset-4 text-center">
          <h1>04</h1>
          <p>Private Repositories</p>
        </div>
        <div class="col-md-2 text-center">
          <h1>04</h1>
          <p>Private Repositories</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <table class="table stat-table">
            <tr>
              <td class="stat-title">Posts</td>
              <td>15</td>
            </tr>
            <tr>
              <td class="stat-title">Comments</td>
              <td>02</td>
            </tr>
            <tr>
              <td class="stat-title">Likes</td>
              <td>45</td>
            </tr>
          </table>
        </div>
      </div>
    </mat-card>

  </div>


</div>
