t
<div class="container">
  <div class="stacklePost" layout-margin layout-padding>
    <div layout="row">
      <div flex="20">
        <h2 class="postvote"><b>{{post.votes}}</b></h2>
      </div>
      <div flex="80">
        <div>
          <h3 class="md-primary"><b>{{post.title}}</b></h3>
          <div>
            <md-chips class="tag_chips">
              <md-chip ng-repeat="tag in post.tags">{{tag}}</md-chip>
            </md-chips>
          </div>
          <md-content>{{post.description}}</md-content>
          <p class="poster">Posted by {{post.user}}</p>
        </div>
        <div class="comments" layout="row">
          <div flex="20">
            {{comment.votes}}
          </div>
          <div flex="80">
            <div ng-repeat="comment in post.comments">
              <md-content>{{comment.description}}</md-content>
              <p class="poster">Comment By {{comment.user}}</p>
            </div>
          </div>
        </div>
        <div>
          <form>
            <md-input-container class="md-block">
              <input aria-label="Comment on this post" type="text" ng-model="comment">
            </md-input-container>
            <md-button md-no-ink class="md-primary">Send Comment</md-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
