<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
			<span>Stackle - By Open Source for Open Source</span>
		</h2>

		<span flex></span>
		<md-button 
			aria-label="Login" 
			ng-click="toolbar.login()"
			ng-if="!toolbar.auth.isAuthenticated">
			Login
		</md-button>
		<md-button
			aria-label = "profile"
			ui-sref="profile"
			ng-if="toolbar.auth.isAuthenticated">
			Profile
		</md-button>
		<md-button 
			aria-label="Logout" 
			ng-click="toolbar.logout()"
			ng-if="toolbar.auth.isAuthenticated">
			Logout
		</md-button>
	</div>
</md-toolbar>